body {
    background-color: black;
}

#canvas {
    top: 25%;
    right: 25%;
    position:absolute;
    z-index: 1;
}

#video {
    top: 25%;
    right: 25%;
    position: absolute;
    z-index: 0;

}